@import "../../styles/variables";

@mixin elevateButton {
  transition: 0.5s;
  border: none;
  padding: 19px 40px;
  border-radius: 18px;
  font-family: $--font-family;
  background-color: #fff3f3;
  box-sizing: border-box;
  outline: none;

  cursor: pointer;
  &:hover {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.5em);
  }
}

.loginButton {
  @include elevateButton;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.registerButton {
  @include elevateButton;
  background-color: #3e3e3e;
  color: #fff3f3;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.submitButton {
  @include elevateButton;
  margin-top: 50px;
  color: white;
  padding: 20px;
  background: #1a1a1a;
  border: 1px solid #1a1a1a;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  font-family: $--font-family;
  font-size: 18px;
}
