.header {
  height: 30px;
  margin-bottom: 30px;
  padding-left: 30px;
  padding-right: 38px;
  display: flex;
  justify-content: space-between;
}
.iconButton {
  padding-top: 33px;
  background-color: transparent;
  border: none;
}
